{{# each chatRooms }}
    {{log this}}
    <button onclick="joinRoom('{{ this._id }}')">{{ this.name }}</button>
{{/ each }}


<script type="text/javascript">
  const joinRoom = (id) => {
    let url = `http://localhost:3000/chatrooms/${id}`;
    $.post(url, {}, (data, status) => {
        location.replace(url);
    });    
}
</script>