{{# each chatRooms }}
    {{log this}}
    <button onclick="joinRoom('{{ this._id }}')">{{ this.name }}</button>
{{/ each }}


<script type="text/javascript">
  const joinRoom = (id) => {
    let url = "http://localhost:3000/chatrooms/" + id;
    let token = $("#token").val();

    $.get({
            url: url,
            headers: {
                'authorization': token
            },
            success: (result) => {
                document.open();
                console.log(result);
                document.write(result);
                document.close();
            }
        });
      
  }
</script>