<form name="loginFrom" action="/" method="post" onsubmit="return validateForm()">

  <label for="name">User name:</label>
  <input type="text" id="name" name="name"><br /> <br /> 

  <input type="radio" name="type" id="interviewer" value="interviewer">
  <label for="interviewer">Interviewer</label><br />

  <input type="radio" name="type" id="interviewee" value="interviewee" checked>
  <label for="interviewee">Interviewee</label><br /><br />

  <input type="submit" value="Sign In">

</form> 