<form action="/" method="POST">

  <label for="name">User name:</label><br>
  <input type="text" id="name" name="name"><br>

  <label for="type">User type:</label><br>
  <input type="text" id="type" name="type"><br><br>

  <input type="submit" value="Sign In">

</form> 