<!DOCTYPE html>
<html>
    <style>
        .one {
            width: 30%;
            float: left;
        }

        .two {
            margin-left: 30%;
        }
    </style>
    <head>
        <title>{{ title }}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        {{{ body }}}
    </body>
</html>